NODE_ENV="development"
GATEWAY_PORT=3000

AUTH_MS_HOST="localhost"
AUTH_MS_PORT=3001

DATABASE_URL="postgresql://username:password@localhost:5432/ms-monorepo-db?schema=public"

JWT_SECRET="your_secret"
JWT_EXPIRES_IN="1h"